// Colors
$primary-color: black;
$bg-color: white;

// Fonts
$font-stack: "Courier New", Courier, monospace;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Base Elements
body {
  font-family: $font-stack;
  background-color: $bg-color;
  color: $primary-color;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: $font-weight-bold;
  border: 1px solid $primary-color;
  background-color: $bg-color;
}

main {
  padding-top: 130px;
  font-size: 1.5rem;
}

h1 {
  font-size: 1.75em;
  font-weight: $font-weight-normal;
}

.bold {
  font-weight: $font-weight-bold;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001;

  &__title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 10px 0px 0px;
    border-bottom: 4px double $primary-color;
    background-color: $bg-color;
  }

  &__status-bar {
    display: flex;
    border: 1px solid $primary-color;
    padding: 0px 10px;
    justify-content: space-between;
    background-color: $bg-color;
  }

  &__status-bar-character {
    display: flex;
    justify-content: space-around;
    min-width: 170px;
  }
  
  &__status-bar-resources {
    min-width: 50px;
  }
  
  &__xp-bar {
    width: 33%;
    border-bottom: 3px solid $primary-color;
    margin-bottom: 10px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.zone {

  &__title {
    margin-left: 10px;
    margin-right: 10px;
  }

  &__description {
    margin: 0px 10px;
  }

  &__queue {

  }

  &__queue-item {
    display: block;
    margin: 40px auto;
    padding: 15px 100px;
    border: 5px solid #00000091;
  }  
}

/* TMP styles */
.opacity-4 {
  opacity: 0.4;
}

.opacity-2 {
  opacity: 0.2;
}
