body {
  font-family: 'Courier New', Courier, monospace;
}

main {
  font-size: .9rem;
}

.header {
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
  width: 33%;
}

.no-decoration {
  text-decoration: none;
  color: unset;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
  grid-gap: 10px;
}