body {
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  color: lime;
}

a {
  text-decoration: none;
  color: unset;
}

pre {
  margin: 0 0;
}

main {
  font-size: 0.9rem;
}

.bold {
  font-weight: 900;
}

.header {
  display: flex;
  justify-content: center;
  margin: 30px 0px 50px;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.status-bar {
  border: 1px solid lime;
  padding: 0px 45px;
  min-width: 150px;
}
